//color
$color-white: #fff;
$color-black: #000;
$color-gray: #707070;

$color-pink: #e7d9ea;
$color-blue-light: #11698e;
$color-blue-dark: #19456b;
$color-green: #16c79a;

// grid

$grid-width: 114rem;
$gutter-vertical-small: 4rem;
$gutter-vertical: 8rem; // gap between two items
$gutter-horizontal: 6rem;