.section-ordering .row {
    @include respond-to(tablet-land) {
        padding-left: 15rem;
        padding-right: 15rem;
    }
    @include respond-to(tablet) {
        padding-left: 10rem;
        padding-right: 10rem;
    }
    @include respond-to(phone) {
        padding-left: 35%;
    }
}

.section-ordering .title {
    @include title-style;
    @include respond-to(tablet-land) {
        margin-left: 2rem;
    }
}

.order {
    &__image {
        @include image-style;
        @include box-shadow;
    }

    &__name {
        font-size: 2.2rem;
        font-weight: 500;
        text-transform: uppercase;
        padding-left: 1.8rem;
    }

    @include respond-to(phone) {
        padding-bottom: 2rem;
    }
}